<!-- page that receives flight picked from flight#index and has passenger fill form -->
<h1>Flight details</h1>
<h3>Please fill out passenger information for your flight </h3>

  <%= @flight.to_airport.code %>
  <%= @flight.from_airport.code %> 
  <%= @ticket_num %> <span>passenger(s)</span>

